.data_text{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Code";
}
.txt{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
margin-bottom: 30px;
}
.types1{
    background-color: black;
    color: white;
    height: 60vh;
    padding-left: 16px;
    padding-top: 2px;
    font-family: "Code";
    margin-bottom: 30px;
    border-radius: 10px;
    h4{
        font-size: 25px;
    }
}
.types2{
    background-color: black;
    color: white;
    height: 60vh;
    padding-left: 16px;
    padding-top: 2px;
    font-family: "Code";
    margin-bottom: 30px;
    border-radius: 10px;
    h4{
        font-size: 25px;
    }
    h6{
        font-size: 28px;
        margin: auto;
        text-align: center;
        
    }
}

.btn{
background-color: black;
width: 150px;
height: 60px;
border-radius: 5px;
font-family: "Code";
margin-left: 700px;
margin-bottom: 50px;
}